@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --slate-50: rgb(248, 250, 252);
  --slate-100: rgb(241, 245, 249);
  --slate-500: rgb(100, 116, 139);
  --slate-900: rgb(15, 23, 42);
  --afi-light-blue: #0570c5;
  --afi-dark-red: #881b26;
  --afi-light-red: #cb2c30;
}

body {
  font-family: inter;
  color: var(--slate-900);
}

a {
  color: var(--afi-light-blue) !important;
  text-decoration: underline !important;
}

header {
  background-color: #004976;
  background-image: url(/img/bg_header.jpg);
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  min-height: 480px;
  display: flex;
  justify-content: end;
  padding: 4rem;
  flex-direction: column;
  font-family: "inter";
}
header img {
  max-width: 120px;
}

header h1 {
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #c4c4c4;
  margin: 0;
  line-height: 1;
}

header p {
  font-size: 0.625rem;
  margin-top: 0.25rem;
}

@media screen and (min-width: 600px) {
  header img {
    max-width: 200px;
  }
  header h1 {
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    margin: 0;
    line-height: 4rem;
  }

  header h2 {
    font-size: 3rem;
    font-weight: 400;
    color: #c4c4c4;
    margin: 0;
  }

  header p {
    font-size: 0.875rem;
  }
}

.days {
  display: flex;
  max-width: 640px;

  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.day {
  padding-bottom: 0.5rem;
  opacity: 0.5;
}

.day:hover {
  opacity: 1;
  cursor: pointer;
}
.day.active {
  border-bottom: 4px solid var(--afi-light-red);
  opacity: 1;
}

.day h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1;
}

.day p {
  font-size: 1rem;
  color: var(--afi-light-red);
  margin: 0;
  margin-left: 1px;
}

@media screen and (min-width: 600px) {
  .day h2 {
    font-size: 2.5rem;
  }

  .day p {
    font-size: 1.25rem;
  }
}
.agenda {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.event {
  /* border-radius: 0.25rem;
  padding: 1rem;
  background-color: #fff;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)); */
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 8ch 1fr;
  grid-template-rows: 1fr;
  gap: 1rem 1rem;
  grid-template-areas: "Time Content";
}

.event__content {
  grid-area: Content;
}
.event h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0;
}

.event__time {
  font-size: 0.875rem;
  font-weight: 300;
  grid-area: Time;
}

.attire {
  font-size: 0.875rem;

  color: #3185fc;
}

.speaker {
  font-size: 0.75rem;
  color: var(--slate-500);
  text-transform: uppercase;
}
.speaker .name {
  white-space: nowrap;
}

.note {
  font-size: 0.75rem;
  font-style: italic;
}

.sponsor {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.clothing {
  max-width: 640px;
  margin: 4rem auto;
}

.container {
}

.col__days {
  max-width: 640px;
}

.col__wear {
  max-width: 320px;
}

.col__wear li {
  font-size: 0.875rem;
}

.emoji {
  font-size: 2rem;
  font-style: normal;
}

.sponsors p {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 2rem;
  border-bottom: 1px solid var(--slate-900);
}

.sponsors p:first-child {
  margin-top: 0.5rem;
}

.sponsors img {
  max-width: 12rem;
  margin-top: 1rem;
}

.sponsors img.bronze {
  max-width: 6rem;
  display: inline-block;
  margin-right: 1rem;
}
